/* Josh Cameu's Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select, p, span, nav {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* Fonts */

@font-face {
    font-family: 'airbnbcereal_w_bkregular';
    src: url('../fonts/airbnbcereal_w_bk-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal_w_bk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnbcereal_w_bluploadedfile';
    src: url('../fonts/airbnbcereal_w_blk-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal_w_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Page style */

body{
  background-image: url(../background.jpg);
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-attachment: fixed;
  background-position: top center;
  font-family:"airbnbcereal_w_bkregular", Arial, Helvetica, sans-serif;
}

nav{
  padding: 32px 26px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
  font-weight: 600;
}

nav button{
  letter-spacing: 1px;
  background-color: transparent;
  color: snow;
  border: transparent;
  cursor: pointer;
  transition: .2s all ease-in-out;
}

nav button:hover{
  color: darkred;
}

#content{
  width: 650px;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  color: white;
}

#quote{
  position: relative;
}

#cit {
  position: absolute;
  top: 28px;
  right: 12px;
}